@import "/css/variaveis.css"

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-section {
    background-color: var(--unibluelight);
    width: 100vw;
    height: 40vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    color: #fff;
    font-family: "Bungee", sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin: 3% auto;
    white-space: nowrap;
    letter-spacing: 2px;
}

.subtitle {
    color: gold;
    font-size: 2rem;
    font-family: "Caveat", cursive;
    letter-spacing: 2px;
}

@media (max-width: 992px) {
    .title {
        font-size: 2rem;
    }

    .subtitle {
        font-size: 1.5rem;
    }
}