@import "/css/variaveis.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: 0.3s ease;
}

body{
    overflow-x: hidden;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    gap: 1.5rem;
    padding-top: 6rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--uniblue);
    width: 100%;
    height: 7rem;
    gap: 1rem;
}

.content-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fffa;
    width: 100%;
    height: 100%;
    gap: 2rem;
    padding-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 1rem;
    position: relative;
    padding: 2rem;
    gap: 2rem;
    width: 70%;
    max-width: 1200px;
    height: auto;
    border-radius: 1rem;
    -webkit-box-shadow: 3px 3px 23px 2px rgba(0, 0, 0, 0.69);
    box-shadow: 3px 3px 23px 2px rgba(0, 0, 0, 0.69);
}

.card-title {
    font-family: var(--titlefont);
    font-weight: 400;
    color: var(--uniblue);
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
}

.card-subtitle {
    font-family: Arial, sans-serif;
    text-align: center;
}


#card-row-flex {
    flex-direction: row;
}

#sobreposicao {
    position: relative;
    bottom: 2rem;
}

#blue-style {
    background-color: #fff;
    border-left: 7px solid var(--uniblue);
}

#white-text{
    color: #fff;
}

@media (max-width: 720px) {
    #card-row-flex {
        flex-direction: column;
    }
}
